.dropdown {
  display: inline-block;
  &__menu {
    &:hover {
      cursor: pointer;
    }
  }
  &__items {
    display: none;
    visibility: hidden;
    list-style-type: none;
  }
  &:hover > &__items {
    display: block;
    visibility: visible;
  }
}
