.dropdown {
  float: right;
  background: url('/assets/images/sprites.svg') 0 0;
  &__menu {
    width: 200px;
    height: 40px;
    border: 1px solid $border-color;
    border-radius: 4px;
    background-color: $orange;
    color: $white;

    &:hover {
      cursor: pointer;
    }
  }

  &__items {
    display: none;
    visibility: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: $border-color;
    color: $white;

    li {
      padding: 5px;
      height: 35px;
      &:hover {
        cursor: pointer;
        background-color: $orange;
        color: $white;
      }
    }
  }

  &:hover > &__items {
    display: block;
    visibility: visible;
  }
}
